<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fontSet.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>X-API Demo</title>
  </head>
  <body>
    <header>
      <h1>X-API Dashboard</h1>
      <div id="welcome-message"></div>
      <button id="profile-button" class="profile-button">Profile</button>
      <button id="logout-button" class="logout-button">Sign out</button>
    </header>
    <button id="post-button" class="post-button">Post</button>
    <div id="tweets-container"></div>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
